@model Blog.Business.BlogModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>

    <hr />

    @foreach (var post in Model.Posts)
    {
        <div class="mb-2 border p-3">
            <div class="d-flex justify-content-between">
                <p class="font-weight-bold">@post.Author.FirstName</p>
                <p>@post.Publication.ToShortDateString()</p>
            </div>
            <p>@post.Content</p>
        </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
